<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key = "InitialHour" value ="9"/>
		<add key = "FinalHour" value ="18"/>
		<add key = "MountBetweenWeek1" value ="25"/>
		<add key = "MountBetweenWeek2" value ="15"/>
		<add key = "MountBetweenWeek3" value ="20"/>
		<add key = "MountWeekend1" value ="30"/>
		<add key = "MountWeekend2" value ="20"/>
		<add key = "MountWeekend3" value ="25"/>
		<add key = "SeparatorName" value ="="/>
		<add key = "SeparatorDays" value =","/>
		<add key = "LenghtAbbreviationDay" value ="2"/>
		<add key = "AbsolutePathFile" value ="C:\Users\CRISTIAN\source\repos\PayWork\WorkEmployee.txt"/>
	</appSettings>
</configuration>